.container {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
  }

  h2 {
    font-weight: 500;
    font-size: 23px;
    margin-left: 10px;
  }

  span {
    color: gray;
    font-size: 14px;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;

    svg {
      margin-right: 5px;
      margin-left: 10px;
    }
  }

  p {
    margin-top: 10px;
    align-self: center;
    font-size: 14px;
    color: gray;
  }
}

.image {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
}
