.container {
  background-color: white;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 15px;
  margin: 15px 10px;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
  }
}

.name {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 8px;
  font-weight: 600;
}

.icon {
  margin-left: 20px;
  margin-right: 7px;
}

.members {
  font-size: 14px;
  color: gray;
}
