.container {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.info {
}

.name {
}

.value {
  font-size: 26px;
}
