.webDesignList {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.listItem {
  background-color: white;
  margin: 5px 0;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  svg {
    cursor: pointer;
  }
}

.options {
  color: gray;
  span {
    padding-left: 5px;
    padding-right: 15px;
  }
  margin-bottom: 20px;
  cursor: pointer;
}
